<input ngModel (ngModelChange)="keyword.next($event)">
<div class="movies">
  <div class="movie" *ngFor="let movie of movies | async" (click)="clickMovie.next(movie)">
    <img [src]="movie.mainPoster" alt="">
    <div class="title">{{movie.zhName}}</div>
  </div>
</div>

<div>
  <button (click)="turn.next(-1)">上一頁</button>
  現在頁數 : {{ page | async }}
  <button (click)="turn.next(+1)">下一頁</button>
</div>

<div *ngIf="(selected | async) as movie">
  <h1>你所選擇的是 {{ movie.zhName }}</h1>
  場次有
  <div class="session" *ngFor="let session of sessions | async">
    {{ session.start | date: 'MM-dd HH:mm' }} - {{ session.end | date: 'MM-dd HH:mm'}}
  </div>
</div>
